*{
    padding: 0;
    margin: 0;
}
.header{
    transition: 1s;
    height: 100vh;
}
.container{
    background:url(images/drew-coffman-1872.jpg) center center/cover fixed ;
    background-size: 100% 100%;
    background-position: center ;
    background-repeat: no-repeat;
    height: 100vh;





    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.nav{
    /* margin-right: 55px; */
}
.nav li , a{
    display:inline-block;
    /* align-content: space-between; */
    /* justify-content: space-between; */
    margin: 5px;
    font-size: 18px;
    text-decoration: none;
    text-transform: capitalize;
    color: wheat;
}
.nav li a:hover{
    border-bottom: 2px solid wheat;
    scale: 1.1;
}
.logo img{
    width: 50%;
}
.text-header{
    margin-top: 200px;
    text-align: center ;
    line-height: 100%;
    color: wheat;
}
.text-header h1{
    margin-top: 50px;
}
.text-header p{
    margin-top: 30px;
}
.text-header button{
    margin-top: 30px;
    color: wheat;
    background-color: transparent;
    padding: 20px;
    border-radius: 18px;
    font-size: 16px;
    text-transform: capitalize;
    transition: 0.5s;
    font-size: large;
}
.text-header button:hover{
    background-color: wheat;
    color: black;
}
.about-container{
    max-width: 1100px;
    margin: auto;
}
#about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#about .about-content{
    display: flex;
    justify-content: space-between;
     height: 80vh;
     margin: 80px 0;
}
#about .about-content img{
    width: 500px;
}
.aside{
    padding-left: 80px;
    line-height: 1.6;
    margin-top: 100px;
    color: #777676;
}
.aside li{
    list-style: none;
}
.aside i{
    padding: 4px;
    margin-top: 10px;
}
.aside h1{
    color: #777676;
    font-weight: 900;
    font-size: 30px;
}
.aside .t{
    margin-top: 50px;
    padding-right: 100px;
}
#our-offer{
    height: 90vh;
    display: flex;
    justify-content: center;
    background:url(images/drew-coffman-1872.jpg) center center/cover fixed ;
}
#our-offer .titel{
    text-align: center;
    margin: 32px 0;
    color: wheat;
    font-weight: 900;
}
.offer-item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aliceblue;
}
.offer-item img{
    width: 250px;
}
.offer-item .border{
    border: 1px solid #000000e1;
    padding: 20px;
    background-color: #000000e1;
    margin: 20px;
    transition: 0.5s;
    border-radius: 30px;
}
.offer-item .border:hover{
    transform: scale(1.1);
}
.offer-item h3 ,.offer-item p{
    margin: 8px 0;
    text-transform: capitalize;
}
.offer-item .border img{
    border-radius: 15px;
}
.border del{
    color: red;
}
.border span{
    font-size: x-large;
}
#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    line-height: 1.6;
}
.contact-info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-info p{
    color: #777676;
    margin-bottom: 20px;
}
.contact-info div{
    width: 50%;
}
.contact-info iframe{
margin-left:50% ;
    width: 50%;
}
#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0 0;
    line-height: 1.6;
    background-color: #1F1A11;
    padding: 40px 0px 30px;
}
.footer-content {
    display: flex;
    justify-content: center;
    align-items: start;
}
.footer-content div {
    line-height: 1.6;
    width: 25%;
    color: #777676;
}
.footer-content div h3{
    margin-bottom: 30px;
    color: aliceblue;
    width: 100%;
    font-size: x-large;
    font-weight: 900;
}
.footer-content div hr{
    width: 70%;
    color: #777676;
    text-align: center;
    margin: 10px 30px 10px 0;
}
.footer-content div p{
    transition: 0.75s;
}
.footer-content div p:hover{
    transform: scale(1.1);
    color: wheat;
}
#foot{
    background-image: url();
    height: 50vh;
    background-color: #292828;
    background-repeat: no-repeat;
    text-align: center;
    padding-bottom: 30px;
    /* color: #777676; */
}
#foot img{
    margin: 100px 0 20px;
}
.foot-content div p {
    display: inline;
}
.foot-content div p i{
    font-size: 20px;
    margin:  20px;
    transition: 0.5s;
}
.foot-content div p i:hover{
    color: aliceblue;
    scale: 1.1;
}
.foot-content p {
    color: #777676;
    font-size: 10px;
}

